<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CourseStaffController</servlet-name>
        <servlet-class>Controllers.CourseStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>Controllers.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>Controllers.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controllers.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controllers.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Controllers.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>Controllers.LoginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controllers.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>Controllers.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleTeacherController</servlet-name>
        <servlet-class>Controllers.ScheduleTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleStudentController</servlet-name>
        <servlet-class>Controllers.ScheduleStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>Controllers.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Controllers.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffHomeController</servlet-name>
        <servlet-class>Controllers.StaffHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>Controllers.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetBannerController</servlet-name>
        <servlet-class>Controllers.SetBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAboutController</servlet-name>
        <servlet-class>Controllers.SetAboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicTeacherController</servlet-name>
        <servlet-class>Controllers.PicTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicStudentController</servlet-name>
        <servlet-class>Controllers.PicStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageBannerController</servlet-name>
        <servlet-class>Controllers.ImageBannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageAboutController</servlet-name>
        <servlet-class>Controllers.ImageAboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassStudentController</servlet-name>
        <servlet-class>Controllers.ClassStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controllers.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassScheduleController</servlet-name>
        <servlet-class>Controllers.ListClassScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleByClassController</servlet-name>
        <servlet-class>Controllers.ScheduleByClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogImageController</servlet-name>
        <servlet-class>Controllers.BlogImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Controllers.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationCourseController</servlet-name>
        <servlet-class>Controllers.RegistrationCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveController</servlet-name>
        <servlet-class>Controllers.ApproveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeController</servlet-name>
        <servlet-class>Controllers.StudentHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRegistrationController</servlet-name>
        <servlet-class>Controllers.TeacherRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomeController</servlet-name>
        <servlet-class>Controllers.TeacherHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherApplicationController</servlet-name>
        <servlet-class>Controllers.TeacherApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>Controllers.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotificationController</servlet-name>
        <servlet-class>Controllers.SendNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignClassController</servlet-name>
        <servlet-class>Controllers.AssignClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleController</servlet-name>
        <servlet-class>Controllers.SaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherListController</servlet-name>
        <servlet-class>Controllers.TeacherListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseStaffController</servlet-name>
        <url-pattern>/coursestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleTeacherController</servlet-name>
        <url-pattern>/scheduleTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleStudentController</servlet-name>
        <url-pattern>/scheduleStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffHomeController</servlet-name>
        <url-pattern>/staffhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetBannerController</servlet-name>
        <url-pattern>/setbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAboutController</servlet-name>
        <url-pattern>/setabout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicTeacherController</servlet-name>
        <url-pattern>/picteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicStudentController</servlet-name>
        <url-pattern>/picstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageBannerController</servlet-name>
        <url-pattern>/imagebanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageAboutController</servlet-name>
        <url-pattern>/imageabout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassStudentController</servlet-name>
        <url-pattern>/classStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassScheduleController</servlet-name>
        <url-pattern>/listClassSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleByClassController</servlet-name>
        <url-pattern>/scheduleByClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogImageController</servlet-name>
        <url-pattern>/BlogImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationCourseController</servlet-name>
        <url-pattern>/RegistrationCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveController</servlet-name>
        <url-pattern>/Approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeController</servlet-name>
        <url-pattern>/StudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomeController</servlet-name>
        <url-pattern>/teacherHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherApplicationController</servlet-name>
        <url-pattern>/TeacherApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotificationController</servlet-name>
        <url-pattern>/SendNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignClassController</servlet-name>
        <url-pattern>/AssignClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleController</servlet-name>
        <url-pattern>/Sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherListController</servlet-name>
        <url-pattern>/TeacherList</url-pattern>
    </servlet-mapping>
</web-app>
